@model NameNode.Models.FileStatusModel

@{
    Layout = null;
}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="icon" type="image/ico" href="favicon.ico" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <title>CDFS Directory Browser</title>
</head>
<body>
    <header class="navbar navbar-inverse" role="banner">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand">Cdfs</div>
            </div>
        
            <ul class="nav navbar-nav" id="ui-tabs">
                <li><a href="cdfshealth#tab-overview">Overview</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Utilities <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Browse the file system</a></li>
                        <li><a href="logs">Logs</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>

    <div class="container">
        <div class="page-header">
            <h1>Browse Directory</h1>
        </div>
        <div class="row">
            <form method="get" action="/Explorer">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="@(Model.Directory)" id="path" name="path" />
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit" id="btn-nav-directory"><span>Go!</span></button>
                    </div>
                </div>
            </form>
        </div>
        <br />
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var file in Model.Files)
                {
                    <tr>
                        <td>
                            @if (!file.IsFile)
                        {
                            <a style="cursor:pointer" href="/Explorer?path=@(file.FullPath)">@file.Name</a>
                    }
                    else
                    {
                        @file.Name
                }
                        </td>
                    </tr>
            }
                </tbody>
            </table>
        </div>

        <div class="row">
            <hr />
            <div class="col-xs-2"><p>Cdfs, 2017.</p></div>
        </div>
    </div>

</body>
</html>