@model NameNode.Models.FileStatusModel

@{
    Layout = null;
}
<!DOCTYPE html>

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">


<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>CDFS Directory Browser</title>
    <link rel="icon" type="image/ico" href="favicon.ico" />
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Browse Directory</h1>
        </div>
        <div class="row">
            <form method="get" action="/Explorer">
                <div class="input-group">
                    <input class="form-control" type="text" id="path" name="path" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" id="btn-nav-directory"><span class="input-group-btn">Go!</span></button>
                    </span>
                </div>
            </form>
        </div>
        <br />
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var file in Model.Files)
                    {
                    <tr>
                        <td>
                            @if (!file.IsFile)
                            {
                            <a style="cursor:pointer" href="/Explorer?path=@(file.FullPath)">@file.Name</a>
                            }
                            else
                            {
                                @file.Name
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>