@model NameNode.Core.Models.NameNodeStatusModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/ico" href="favicon.ico" />
    <title>CDFS Health</title>
</head>
<body>
    Started : @Html.DisplayFor(model => model.Started) <br />
    Live Nodes : @Html.DisplayFor(model => model.LiveNodes) <br />
    Dead Nodes : @Html.DisplayFor(model => model.DeadNodes) <br />
</body>
</html>